<div class="flex justify-center w-full h-full items-center">
    <mat-card class="w-5/12 h-4/6">
        <div class="flex justify-center items-center">
            <div class="flex-row items-center pt-36">
                <mat-icon class="text-9xl text-green-600">check_circle</mat-icon>
            </div>
        </div>
        <div class="flex-row pt-8 text-4xl md:text-7xl font-extrabold tracking-tight leading-tight md:leading-none text-center">
            {{titulo}}
        </div>
        <div class="flex-row pt-8 text-lg md:text-xl font-medium tracking-tight text-center text-secondary">
            {{mensagem}}
        </div>
        <div class="flex flex-row text-center pt-10">
            <div class="flex-1">
                <a mat-flat-button class="mt-12" color="accent" [routerLink]="linkVoltar">
                    {{textoBotaoVoltar}}
                </a>
            </div>
            <div class="flex-1">
                <a mat-flat-button class="mt-12" color="primary" [routerLink]="linkNovoRegistro">
                    {{textoBotaoNovo}}
                </a>
            </div>
        </div>
    </mat-card>
</div>
